<div class="aside-profile">
    <div class="user">
        <div class="user-avatar">
            <i class="fas fa-user-astronaut"></i>
        </div>
        <div class="user-name">
            <h4>{{ user.fullName }}</h4>
            <p>{{ user.email }}</p>
        </div>
    </div>
    <p>Теперь вы можете добавить сколько угодно заметок на карту</p>
    <div class="marker-add">
        <a class="btn marker-add__btn" href="{{ path('marker_add') }}">Добавить точку на карте</a>
    </div>
</div>