{% extends "base.html.twig" %}

{% block body %}
    <p>Перенесите все ваши заметки, касаемые каких-то гео данных, 
    на карту. К примеру нашли какой то интересный магазин, просто кликнете на нужное место 
    и введите описание. Теперь метка всегда у вас перед глазами сохранена.</p>
{% endblock %}