@import 'reset';
@import 'ps';

body {
    font-family: 'Montserrat';
    font-weight: 100;
    background-color:#000000;
}

h1 {
    font-size: 42px;
    font-weight: 700;
}

main {
    height: 100vh;
}

.btn {
    background-color: #D81159;
    width: 90%;
    border-radius: 20px;
    border: medium none;
    font-size: 16.5px;
    font-family: 'Montserrat';
    font-weight: 300;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 0 auto 20px;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    display: block;
    text-align: center;
}

p {
    font-size: 12.5px;
    color: #999999;
    line-height: 14px;
    margin: 7px 0 30px;
}

.aside {
    font-family: 'Montserrat';
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.85);
    color: #ffffff;
    font-size: 16.5px;
    padding: 50px 20px 0;
    box-sizing: border-box;

    &-flash {
        font-size: 13px;
        background-color: #D81159;
        padding: 4px 20px;
        color: #dfdfdf;

        img.emojione {
            margin: 0px !important;
            display: inline !important;
            
            height: auto;
            width: 20px;
        }
    }

    &-logo {
        display: block;
        text-align: center;
        font-size: 32.5px;
        font-weight: 700;
        margin-bottom: 30px;
        color: #ffffff;
        text-decoration: none;

        span {
            color: #D81159;
        }
    }

    &-login {
        display: block;
        text-align: center;

        &__form {
            &-row {
                input {
                    background-color: #333333;
                    width: 90%;
                    border-radius: 20px;
                    border: medium none;
                    font-size: 16.5px;
                    font-family: 'Montserrat';
                    font-weight: 300;
                    padding: 10px 20px;
                    box-sizing: border-box;
                    margin: 0 0 20px;
                    outline: none;
                    color: #ffffff;
                }
                textarea {
                    background-color: #333333;
                    width: 90%;
                    border-radius: 20px;
                    border: medium none;
                    font-size: 16.5px;
                    font-family: 'Montserrat';
                    font-weight: 300;
                    padding: 10px 20px;
                    box-sizing: border-box;
                    margin: 0 0 20px;
                    outline: none;
                    color: #ffffff;
                    resize: none;
                    height: 120px;
                }
            }
        }
    }

    &-profile {
        margin-top: 40px;
        .user {
            font-size: 0;
            &-avatar,
            &-name {
                display: inline-block;
                vertical-align: top;
            }
            &-avatar {
                // border: 1px solid rgba(255,255,255,0.5);
                // padding: 10px 15px;
                // border-radius: 45px;
                margin-right: 30px;
                i {
                    font-size: 40px;
                }
            }
            &-name {
                h4 {
                    font-weight: 700;
                    font-size: 19px;
                }
                p {
                    font-size: 15px;
                }
            }

            &-pointers {
                margin-top: 30px;
                position: relative;
                width: 100%;
                height: 285px;

                &__pointer {
                    .user-pointers__pointer-link {
                        color: #dfdfdf;
                        font-weight: 700;
                        font-size: 17.5px;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                    p {
                        margin-bottom: 5px;
                    }
                    &-buttons {
                        margin-bottom: 30px;
                        
                        a {
                            color: #dfdfdf;
                            text-decoration: none;
                            font-weight: 700;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    &-bottom {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        text-align: left;

        a {
            display: block;
            color: #ffffff;
            font-size: 15.5px;
            padding: 20px 40px;
            background-color: rgba(255, 255, 255, .35);
            text-decoration: none;

            &:hover {
                color: #666666;
                background-color: rgba(255, 255, 255, .75);
            }
        }
    }

    &-add-button {

    }
}

.marker {
    background-image: url('/images/pointer.svg');
    width: 38px;
    height: 50px;
    cursor: pointer;

    &-add {
        margin-top: 25px;
    }
}

.mapboxgl-popup {
    max-width: 200px;
}
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}